html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* slightly enhanced, universal clearfix hack */
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.container {
  max-width: 960px;
  margin: 0 auto;
  background-color: linen;
  padding: 20px 0 0 0;
}

#game-setup {
  display: none;
  background-color: pink;
  height: 400px;
}

.info-panel {
  background-color: navy;
  /*height: 50px;*/
  color: white;
  padding: 10px;
  margin: 20px 0;
}

.info-panel > * {
  display: inline-block;
  margin-left: 10px;
  vertical-align: top;
}

.info-panel ul {
  padding: 0;
}

.info-panel li {
  list-style-type: none;
  display: inline-block;
  margin: 10px;
  padding: 10px;
}

#board-wrapper {
  max-width: 50%;
  margin: 50px auto;
}

#game-board {
  margin: 0 auto;
}

.square {
  float:left;
  text-align: center;
  background-color: lightgray;
  font-size: 3em;
  font-weight: bold;
  padding: 10%;
}

#controls li:hover {
  cursor: pointer;
  background-color: lightgray;
}

#controls li {
  background-color: gray;
}

.player-image {
  border-radius: 100%;
}

.board-piece {
  float: left;
  width: 100%;
}
