/* General Styles */

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* slightly enhanced, universal clearfix hack */
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.container {
  max-width: 960px;
  margin: 0 auto;
  background-color: linen;
  padding: 5px 0 0 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  text-align: center;
  background-color: white;
  padding: 10px 0;
  border: 10px solid linen;
}


/* Info/Control Panel */

.info-panel {
  background-color: maroon;
  color: white;
  padding: 10px;
  margin: 20px 0;
  border: 10px solid linen;
}

.info-panel > * {
  display: inline-block;
  margin-left: 10px;
  vertical-align: top;
}

.info-panel ul {
  padding: 0;
}

.info-panel li {
  list-style-type: none;
  display: inline-block;
  margin-right: 10px;
  padding: 20px 30px;
  text-align: center;
}

#controls li:hover {
  cursor: pointer;
  background-color: lightgray;
  color: black;
}

#controls li {
  background-color: gray;
  /*padding: 0 10px;*/
}

.player-image {
  border-radius: 100%;
}


.player-name {
  text-align: center;
}
